<style>
  .login-page {
    width: 400px;
    margin: auto;
    margin-top: 50px;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #fac430;
    max-width: 400px;
    height: 430px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form2 {
    z-index: 1;
    background: #fac430;
    max-width: 400px;
    padding: 30px;
    text-align: center;
  }

  .form button {
    text-transform: uppercase;
    outline: 0;
    background: #000;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 17px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: bolder;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 13.5px;
  }

  .form .message a {
    color: #fff;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }

  .container:before,
  .container:after {
    content: "";
    display: block;
    clear: both;
  }

  .container .info {
    margin: 50px auto;
    text-align: center;
  }

  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }

  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }

  .container .info span a {
    color: #000000;
    text-decoration: none;
  }

  .container .info span .fa {
    color: #EF3B3A;
  }

  .form-control{
    margin: 9px;
    color: #000;
    background-color: #F4C53D;
    border: none;
    font-size: 20px;
    border-bottom: solid 2px #000;
    border-radius: 0px;
    width: 80%;
  }

  .form-control-container{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
  }

  .form-group{
    margin: 0px;
    padding: 0px;
  }

  .linkDescarga {
    color: blue;
    text-decoration: underline;
  }

  body {
    background: #FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #FFF, #FFF);
    background: -moz-linear-gradient(right, #FFF, #FFF);
    background: -o-linear-gradient(right, #FFF, #FFF);
    background: linear-gradient(to left, #FFF, #FFF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="login-page">
  <div class="form">
    <img src="images/logosjuntos.jpg" style="width:390px; margin-top: 5px;">
    <form class="login-form" ng-if="$ctrl.mostrarPagina==true" angular-validator-submit="$ctrl.login()" name="myForm"
      novalidate angular-validator>
      <div class="form-group" align="center">
        <input type="text" placeholder="Correo Electrónico" name="nombre" ng-model="$ctrl.user" validate-on="dirty"
          ng-model="form.dirty" class="form-control" required-message="'El correo electrónico es obligatorio.'"
          required />
      </div>
      <div class="form-group col-md-12" align="center">
        <input type="password" placeholder="Contraseña" name="password" ng-model="$ctrl.password" validate-on="dirty"
          ng-model="form.dirty" class="form-control" required-message="'La contraseña es obligatoria.'" required />
      </div>
      <button type="submit" class="login">login</button>
      <p sytle="color:#fff"><a href=""> </a></p>
      <span sytle="color:#000">¿No estás registrado?</span> <span class="message"><a href="https://estadodecuentaenlinea.stargroup.com.mx:5000/#/registro">Regístrate aquí </a></span>
      <br>
      <p class="message"><a href="https://estadodecuentaenlinea.stargroup.com.mx:5000/#/recuperar"> ¿Olvidaste tu contraseña? </a></p>
    </form>

    <form class="login-form" ng-if="$ctrl.mostrarPagina==false" name="myForm" style="height: 260px;">
      <div class="form-group col-md-12 text-center">
        <h3> El pago en línea no se encuentra disponible para este navegador. </h3>
        <p>
          <h5>Descarga estos navegadores de manera gratuita</h5>
        </p>
        <p>
          <h4>Te recomendamos:</h4>
        </p>
        <p><a href="https://www.google.com.mx/chrome/" class="linkDescarga">Google Chrome</a></p>
        <p><a href="https://www.mozilla.org/es-MX/firefox/new/" class="linkDescarga">Mozilla Firefox</a></p>
        <p><a href="https://www.opera.com/es-419" class="linkDescarga">Opera</a></p>
        <p>Safari</p>
      </div>
    </form>
  </div>
  <div id="navegador"></div>
</div>