<style media="screen">
	html, body {
	  height: 100%;
	  background-color: white;
	}

.page-row-expanded { height: 100%; }
</style>
<section class="section-account">
	<div style="display:none" >
    	<img crossorigin="" src="images/StarGo_logo.png" id ="reciboLogo">
	</div>
	<div class="card contain-xs style-transparent">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 text-center">
					<img src="images/StarGo.jpg" width="350">
                    <hr>
					<h2 class="text-light">{{$ctrl.textoPantalla}}</h2>

				</div><!--end .col -->
			</div><!--end .row -->
		</div><!--end .card-body -->
	</div><!--end .card -->
</section>
