
<style type="text/css">

.color-pantone {
  color: #F4C53D; /*pantone 123*/
}
.headerbar{
  background-color: #d6d1c4;
}
.dropdown-menu{
  background-color: #d5d1c5;
}
.dropdown-toggle:active{
  background-color: #d5d1c5;
}
</style>

<header id="header" class="header-main">
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand">
          <div class="brand-holder">
             <img src="images/logosjuntos.png" alt="" />
         <!--    <a ui-sref="home.dashboard">            
               <img src="images/StarGo_logo.png" alt="" />
            </a> -->
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="headerbar-right">
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="images/StarGo_Antena2.png" alt="" />
            <span class="profile-info" style="color:black; font-weight: bolder;">{{ $ctrl.usuario }} </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li><a href="" ng-click="$ctrl.logOut()"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
            <li><a href="" ng-click="$ctrl.cambiarEmail()"><i class="fa fa-envelope-o"></i> Cambiar Email</a></li>
          </ul>
          <!--end .dropdown-menu -->
        </li>
        <!--end .dropdown -->
      </ul>
      <!--end .header-nav-profile -->
    </div>
    <!--end #header-navbar-collapse -->
  </div>
</header>
<!-- END HEADER-->

<!-- BEGIN BASE-->
<div id="base">
  <div id="content">
    <section>
      <div ui-view></div>
    </section>
  </div>
  <!--end #content-->
  <!-- END CONTENT -->
  <!-- BEGIN MENUBAR-->
  <div id="menubar" class="menubar-inverse">
    <div class="menubar-fixed-panel">
      <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="menubar-scroll-panel">
      <ul id="main-menu" class="gui-controls">
        <li class="gui-folder" ng-repeat="x in $ctrl.menus | orderBy:'SortOrder'" ui-sref-active="active">
          <a ui-sref="{{ x.Class }}" ng-if="x.MenuChild.length == 0">
            <div class="gui-icon"><i class="{{ x.Icon }} color-pantone"></i></div>
            <span class="title">{{ x.Title }}</span>
          </a>
          <a ng-if="x.MenuChild.length > 0">
            <div class="gui-icon"><i class="{{ x.Icon }} color-pantone"></i></div>
            <span class="title">{{ x.Title }}</span>
          </a>
          <!--start submenu -->
          <ul style="overflow: hidden; height: 308px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" ng-if="x.MenuChild.length > 0">
            <li ng-repeat="y in x.MenuChild | orderBy:'SortOrder'" ng-class="{'gui-folder': y.MenuChild.length > 0}">
              <a ui-sref="{{ y.Class }}" ng-class="{active:$state.includes(y.Class)}" ng-if="y.MenuChild.length == 0"><span class="title">{{ y.Title }}</span></a>
              <a ng-class="{active:$state.includes(y.Class)}" ng-if="y.MenuChild.length > 0"><span class="title">{{ y.Title }}</span></a>

              <ul style="overflow: hidden; height: 308px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;" ng-if="y.MenuChild.length > 0">
                <li ng-repeat="z in y.MenuChild">
                  <a ui-sref="{{ z.Class }}" ng-class="{active:$state.includes(z.Class)}"><span class="title">{{ z.Title }}</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <!--end /submenu -->
        </li>
      </ul>

      <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
          <span class="opacity-75">Copyright &copy; 2017</span> <strong>SOFTV</strong>
        </small>
      </div>
    </div>
    <!--end .menubar-scroll-panel-->
  </div>
  <!--end #menubar-->
  <!-- END MENUBAR -->
</div>
<!--end #base-->

<script src="libs/core/source/App.js"></script>
<script src="libs/core/source/AppNavigation.js"></script>
<script src="libs/core/source/AppOffcanvas.js"></script>
<script src="libs/core/source/AppCard.js"></script>
<script src="libs/core/source/AppForm.js"></script>
<script src="libs/core/source/AppNavSearch.js"></script>
<script src="libs/core/source/AppVendor.js"></script>
<script src="libs/core/demo/Demo.js"></script>
